<%= bootstrap_form_tag authors_update_password_path, method: :put do %>
  <%= fields_for  :author do |f| %>
  <div class="offset-md-1 col-md-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
          <div class="field">
            <%= f.label :current_password %>
            <br>
            <%= f.password_field :current_password, class: 'form-control', id: 'pwd'  %>
          </div>
      </li>
      <li class="list-group-item">
          <div class="field">
            <%= f.label :new_password %>
            <br>
            <%= f.password_field :new_password, class: 'form-control' %>
          </div>
      </li>
      <li class="list-group-item">
          <div class="field">
            <%= f.label :new_password_confirmation %>
            <br>
            <%= f.password_field :new_password_confirmation, class: 'form-control' %>
          </div>
      </li>
      <li class="list-group-item">
        <div class="field">
         <div class="actions">
            <%= f.submit "Update password", class: 'btn btn-warning btn-lg btn-block' %>
         </div>
        </div>
      </li>
    </ul>
  </div>
  <% end %>
<% end %>