<%= form_for(post, url: url) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">

    <div class="card" style="width: 20rem;">
      <div class="card-block">
        <h4 class="card-title"><%= yield (:page_title) %></h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="field">
              <%= f.label :title %>
              <br>
              <%= f.text_field :title %>
            </div>
        </li>
        <li class="list-group-item">
            <div class="field">
              <%= f.label :banner_image_url %>
              <%= f.text_field :banner_image_url %>
            </div>
        </li>
        <li class="list-group-item">
          <div class="field">
              <%= f.label :description %>
              <br>
              <%= f.text_area :description %>
          </div>
        </li>
        <li>
           <div class="actions">
              <%= f.submit "Save post", class: 'btn btn-success btn-lg btn-block' %>
           </div>
        </li>
      </ul>
   </div>
    
  </div>

    <div class="col-md-8" %>
      <div class="field">
        <%= f.text_area :body %>
    </div>
</div>

</div>
 
<% end %>
