<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> | TatraFolks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
   

    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
          tinymce.init({ 
            height: '475',
            selector:'textarea#post_body',
            plugins: "codesample image media colorpicker link",
            toolbar: "undo | redo | styleselect | bold italic | codesample | image media | forecolor backcolor | link"
           });
    </script>
    
  </head>

  <body class="container-fluid">
    <%= render 'layouts/navbar' %>
  	<div class="container <%= controller_name %> <%= action_name %>">	
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



	   <%= yield %>

	</div>
  <script>
    if($('.notice').is(':empty')) {
      $(".notice").hide();
    };

    if ($('.alert').is(':empty')) {
      $(".alert").hide();
    }
  </script>
  </body>
</html>
