<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> | TatraFolks</title>
  
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
   

    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
          tinymce.init({ 
            height: '475',
            selector:'textarea#post_body',
            plugins: "codesample image media colorpicker link",
            menubar: "insert",
            toolbar: "undo | redo | styleselect | bold italic | codesample | image media | forecolor backcolor | link"
           });
    </script>
    
  </head>

  <body>
    <%= render 'layouts/navbar' %>
  	<div class="container <%= controller_name %> <%= action_name %>">	

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



	   <%= yield %>

	</div>
 
  </body>
</html>
